.App{
  width: 300px;
  margin: auto;
}
.site-page-header{
  padding-left: 0px !important;
}

.flex{
  display: flex;
}

.income{
  margin-right: 10px;
}
.balance{
  justify-content: space-evenly;
}
.income>p{
  color: green;
  font-weight: bold;

}
.expense>p{
  color: red;
  font-weight: bold;
}

.deleteIcon{
  color:"red";
  margin-left: 5px;
}
